# Environment files
.env
.env.*
!.env.example

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
.coverage*
coverage.xml
htmlcov/
coverage_reports/
tests/load/results/
.nox/
.tox/


# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

*.egg-info/
